.date-container{
    display:flex;
    flex-direction: row;
    margin: 14px;
    padding-top:10px;
}
.datepicker1{
 margin-right:4px;
}


.lblDate{
    margin:3px;
}
.dateInput{
    margin:3px;
}

.selectPicker{
    margin:10px;
    padding:4px;

}
